.leftToRightFadeInAnimation {
    &-4{
        -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.4s; /* Firefox < 16 */
        -ms-animation: fadein 0.4s; /* Internet Explorer */
         -o-animation: fadein 0.4s; /* Opera < 12.1 */
            animation: fadein 0.4s;
    }
    &-4-false{
        -webkit-animation: fadein 0.4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.4s; /* Firefox < 16 */
        -ms-animation: fadein 0.4s; /* Internet Explorer */
         -o-animation: fadein 0.4s; /* Opera < 12.1 */
            animation: fadein 0.4s;
    }
    &-4-swap{
      -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
    }
    &-4-stableswap{
      -webkit-animation: fadein 4s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 4s; /* Firefox < 16 */
        -ms-animation: fadein 4s; /* Internet Explorer */
         -o-animation: fadein 4s; /* Opera < 12.1 */
            animation: fadein 4s;
            opacity: 1;
    }
    
  }
  
  @keyframes fadein {
    from { opacity: 0.6;transform: translateX(-10px);}
    to   { opacity: 1;transform: translateX(0px); }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0.6;transform: translateX(-10px);}
    to   { opacity: 1;transform: translateX(0px); }
  }
  .rightToLeftFadeInAnimation {
    &-4{
        -webkit-animation: rightToleftF 0.1s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: rightToleftF 0.1s; /* Firefox < 16 */
        -ms-animation: rightToleftF 0.1s; /* Internet Explorer */
         -o-animation: rightToleftF 0.1s; /* Opera < 12.1 */
            animation: rightToleftF 0.1s;
        }
  }
  
  @keyframes rightToleftF {
    from { opacity: 1;}
    to   { opacity: 0.6;transform: translateX(-10px); }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes rightToleftF {
    from { opacity: 1;transform: translateX(0px);}
    to   { opacity: 0.6;transform: translateX(-100px); }
  }