@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;700&display=swap');
@import './partials/header/header';
@import './partials/footer/footer';
@import './partials/swap';
@import './partials/farms';
@import './partials/poolCard';

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.p-90 {
  padding: 0 90px;
}

.p-26 {
  padding: 0 26px;
}

.pb-20 {
  padding-bottom: 20px;
}

.loading-data-wrapper {
  position: fixed;
  bottom: 60px;
  right: 72px;
}

.loader-message-wrapper {
  @extend .loading-data-wrapper;
  bottom: 24px;
  right: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.4px;
  padding: 16px 24px;
  border-radius: 7.34783px;

  &.success {
    background-color: rgba(35, 193, 89, 0.14);
    color: #23c159;
  }

  &.error {
    background-color: rgba(193, 35, 35, 0.14);
    color: #c12323;
  }

  > span {
    vertical-align: middle;
  }
}

.content-hide {
  display: none;
}

.modal-backdrop {
  background: rgba(245, 245, 245, 0.6);
  filter: blur(8px);
}

.loader-btn {
  > span {
    display: inline-block;
  }
}

$h1-font-sizes: (
  null: 38px,
  480px: 40px,
  640px: 42px,
  1024px: 72px,
);

$h3-font-sizes: (
  null: 30px,
  480px: 36px,
  640px: 42px,
  1024px: 48px,
);

@mixin font-size($fs-map) {
  @each $fs-breakpoint, $fs-font-size in $fs-map {
    @if $fs-breakpoint == null {
      font-size: $fs-font-size;
    } @else {
      @media screen and (min-width: $fs-breakpoint) {
        font-size: $fs-font-size;
      }
    }
  }
}

h1 {
  @include font-size($h1-font-sizes);
}

.tooltip-inner {
  background: linear-gradient(90deg, rgba(112, 40, 228) 0%, rgba(229, 178, 202) 100%);
  color: #FFFFFF;
  opacity: 1;
}

.tooltip > .arrow {
  opacity: 0;
}

body {
  color: var(--theme-text-1);
}

:root {
  --theme-primary-1: #5C0FAE;
  --theme-primary-2: #D0BDE6;
  --theme-secondary-1: #E3D1FF;
  --theme-primary-gradient-1: #7028E4;
  --theme-primary-gradient-2: #E5B2CA;
  --theme-secondary-gradient-1: #F5F0FD;
  --theme-secondary-gradient-2: #FDFAFB;
  --theme-card-bg: #FFFFFF;
  --theme-input-bg: #F9FAFA;
  --theme-text-1: #4E5D78;
  --theme-text-inactive: #B0B7C3;
  --theme-text-3: #8A94A6;
  --theme-text-4: #B0B7C3;
  --theme-bg-1: #F9FAFA;
  --theme-bg-2: #F3F3F3;
  --theme-bg-3: #FAFBFC;
  --theme-bg-4: #59617A;
  --theme-border: #F1F1F1;
  --theme-default-btn: #FFFFFF;
}
