@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import './partials/header/header';
@import './partials/header/swap';
