@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
@import './partials/header/header';
@import './partials/swap';
@import './partials/farms';

.flex {
  display: flex;
}
.justify-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.p-90 {
  padding: 0 90px;
}
.p-26 {
  padding: 0 26px;
}
.pb-20 {
  padding-bottom: 20px;
}
.loading-data-wrapper {
  position: fixed;
  bottom: 60px;
  right: 72px;
}
.loader-message-wrapper {
  @extend .loading-data-wrapper;
  bottom: 24px;
  right: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: -0.4px;
  padding: 16px 24px;
  border-radius: 7.34783px;
  &.success {
    background-color: rgba(35, 193, 89, 0.14);
    color: #23c159;
  }
  &.error {
    background-color: rgba(193, 35, 35, 0.14);
    color: #c12323;
  }
  > span {
    vertical-align: middle;
  }
}
.content-hide {
  display: none;
}
.modal-backdrop {
  background: rgba(245, 245, 245, 0.6);
  filter: blur(8px);
}
.loader-btn {
  > span {
    display: inline-block;
  }
}
