:root.light {
  --theme-primary-1: #6202ef;
  --theme-primary-2: #d0bde6;
  --theme-secondary-1: #e3d1ff;
  --theme-primary-gradient-1: #7028e4;
  --theme-primary-gradient-2: #e5b2ca;
  --theme-secondary-gradient-1: #f5f0fd;
  --theme-secondary-gradient-2: #fdfafb;
  --theme-secondary-gradient: linear-gradient(
    90deg,
    var(--theme-secondary-gradient-1) -47.72%,
    var(--theme-secondary-gradient-2) 100%
  );
  --theme-card-bg: #ffffff;
  --theme-input-bg: #f9fafa;
  --theme-text-1: #4e5d78;
  --theme-text-2: #25213b;
  --theme-text-inactive: #b0b7c3;
  --theme-text-3: #8a94a6;
  --theme-text-4: #b0b7c3;
  --theme-text-5: #8a94a6;
  --theme-bg-1: #f9fafa;
  --theme-bg-2: #f3f3f3;
  --theme-bg-3: #fafbfc;
  --theme-bg-4: #ffffff;
  --theme-border: #f1f1f1;
  --theme-border-global: rgba(0, 0, 0, 0.08);
  --theme-border-light: #d5d5d5;
  --theme-default-btn: #5c0fae;
  --theme-plenty-badge-bg: rgba(92, 15, 174, 0.16);
  --theme-plenty-badge-text: #6202ef;
  --theme-quipuswap-badge-bg: rgba(174, 110, 15, 0.16);
  --theme-quipuswap-badge-text: #f9a558;
  --theme-table-header-hover-bg: #f7f5fb;
  --theme-button-bg: #e3d1ff;
  --theme-hover-bg: #f2f0f9;
  --theme-radio-button: #8b83ba;
  --theme-governance-bg: linear-gradient(180deg, #7028e4 22%, #ffffff 20%);

  --theme-governance-bg-1: linear-gradient(180deg, #7028e4 20%, #ffffff 20%);
  --theme-governance-bg-2: linear-gradient(180deg, #7028e4 18%, #ffffff 18%);
  --theme-governance-text: #04091b;
  --theme-governance-cardBg: #ffffff;
  --theme-governance-postingInfo: #f3f4fb;
  --theme-governance-line: #f1f1f1;
  --theme-governance-headerBg: #7028e4;
  --theme-governance-mobileBg: linear-gradient(180deg, #7028e4 30%, #ffffff 30%);
  --theme-governance-mobileHeaderBg: #7028e4;
  --theme-governance-infoText: rgba(51, 51, 51, 0.8);
  --theme-governance-infoBg: #f4f4f4;
  --theme-governance-votingBorder: none;
  --theme-governance-buttonBorder: #6202ef;
  --theme-governance-infoIcon: rgba(90, 90, 90, 0.1);
  --theme-governance-totalVotesText: #4e5d78;
  --theme-governance-infoIconColor: #5a5a5a;
  --theme-governance-clockIconColor: #374151;
  --theme-governance-openBg: #01d1ff;
  --theme-governance-openText: #302000;
  --theme-governance-acceptBg: rgba(22, 235, 147, 0.2);
  --theme-governance-acceptText: #066d43;
  --theme-governance-rejectBg: rgba(255, 2, 2, 0.2);
  --theme-governance-rejectText: #461303;
  --theme-governance-votingBoxBg: rgba(98, 2, 239, 0.1);
  --theme-governance-selectedText: #40029d;
  --theme-governance-label: #04091b;
  --theme-header-heading: #000000;
  --theme-header-description: #51566b;
  --theme-header-bottom: #dedede;
  --theme-header-text: #333333;
  --theme-header-selectedBg: #f4f4f4;
  --theme-bg-header: #ffffff;
  --theme-header-seperator: #140920;
  --theme-expand-button-bg: var(--theme-input-bg);
  --theme-primary-button-text: #ffffff;
  --theme-primary-button-bg: #6202ef;
  --theme-menu-highlighter: #cfced6;
  --theme-menu-text: #9656f4;
  --theme-disabled-button-bg: #e6e7ea;
  --theme-disabled-button-text: #8a94a6;
  --theme-modal-boxshadow: 0px 16.9px 32.3304px rgba(149, 165, 192, 0.14);
  --theme-thead-text: var(--theme-text-3);
  --theme-toggler: #ffffff;
  --theme-toggler-bg: #c1c7d0;
  --theme-disabled-button: #b0b7c3;
  --theme-disable-button-text: #fafafb;
  --theme-swap-border: rgba(0, 0, 0, 0.08);
  --theme-swap-text: #505e79;
  --theme-swap-info-text: #505e79;
  --theme-gradient-border: #e7e7e7;
  --theme-swap-boxshadow: 0px 16.9px 32.3304px rgba(149, 165, 192, 0.14);
  --theme-error-bg: rgba(255, 90, 67, 0.05);
  --theme-banner-bg: #f2e9ff;
  --theme-banner-bg-hover: #eadcff;
  --theme-banner-text: #201c41;
  --theme-confirm-transaction: #4e5d78;
  --theme-confirm-transaction-button-text: #201c41;
  --theme-loader-border-top: rgba(255, 255, 255, 0.2);
  --theme-loader-border: #ffffff;
  --theme-flash-bg: #ffffff;
  --theme-flash-border: #b0b7c3;
  --theme-floater-text: #333333;
  --theme-nav-link-border: #f1f1f1;
  --theme-input-bg-global: #f9fafa;
  --theme-balance-border: #b0b7c3;
  --theme-balance-text-color: #a4aebf;
  --theme-lq-details-bg: #ffffff;
  --theme-lq-details-individual-bg: #f9fafa;
  --theme-lq-details-content: rgba(51, 51, 51, 0.6);
  --theme-info-icon: #b0b7c3;
  --theme-lp-pair-bg: rgba(98, 2, 239, 0.04);
  --theme-lp-pair-text: rgba(51, 51, 51, 0.8);
  --theme-share-pool-bg: rgba(98, 2, 239, 0.04);
  --theme-confirm-supply-text: #505e79;
  --theme-remove-lq: #ffffff;
  --theme-your-position: #ffffff;
  --theme-details-border-left: #f3f3f3;
  --theme-lp-token: rgba(78, 93, 120, 0.8);
  --theme-modal-text: #8a94a6;
  --theme-tooltip-bg: #0d0831;
  --theme-tooltip-text: #ffffff;
  --theme-confirm-transaction-border: rgba(78, 93, 120, 0.5);



  // Bridge module related.
  --theme-bridge-header-text: #292a2e;
  --theme-bridge-desc-text: #4e5d78;
  --theme-bridge-line-bottom: #BFB6CC;
  --theme-bridge-token-sel-bg: linear-gradient(180deg, #ffffff 60%, rgba(98, 2, 239, 0.05) 0%);
  --theme-bridge-token-sel-lb: #f1f1f1;
  --theme-bridge-history-btn-bg: rgba(98, 2, 239, 0.1);
  --theme-bridge-history-btn-text: #6202ef;
  --theme-bridge-from-border: none;
  --theme-bridge-from-bg: #f4f4f4;
  --theme-bridge-from-text: #4e5d78;
  --theme-bridge-from-ip-bg: #fcfcfc;
  --theme-bridge-to-ip-bg: rgba(98, 2, 239, 0.05);
  --theme-bridge-ip-border: rgba(0, 0, 0, 0.08);
  --theme-bridge-chain-sel-text: #4e5d78;
  --theme-bridge-chain-sel-subtext: #8792A2;
  --theme-bridge-selector-bg: #ffffff;
  --theme-bridge-selector-border: rgba(0, 0, 0, 0.08);
  --theme-bridge-selector-box-shadow: rgba(39, 59, 74, 0.06);
  --theme-bridge-chain-from-lb: #b0b7c3;
  --theme-bridge-input-bg: #ffffff;
  --theme-bridge-max-btn-bg: #F9FAFA;
  --theme-bridge-max-btn-border-text: #6202EF;
  --theme-bridge-input-text: #201c41;
  --theme-bridge-balance-text: #8a92b2;
  --theme-bridge-to-bg: #EBDDFF;
  --theme-bridge-to-ip-border: rgba(98, 2, 239, 0.2);
  --theme-bridge-to-chain: #faf7ff;
  --theme-bridge-vertical-line: #D9CCEB;
  --theme-bridge-to-token-bg: #ffffff;
  --theme-bridge-fee-text: #4e5d78;
  --theme-bridge-history-border: #e7e7e7;
  --theme-bridge-history-lb: rgba(0, 0, 0, 0.08);
  --theme-bridge-history-token-bg: #F9FAFA;
  --theme-bridge-history-token-text: #464e5f;
  --theme-bridge-history-dt-text: #8A959E;
  --theme-bridge-filter-border: rgba(98, 2, 239, 0.1);
  --theme-bridge-filter-box-shadow: rgba(32, 28, 65, 0.14);
  --theme-bridge-filter-lb: rgba(0, 0, 0, 0.08);
  --theme-bridge-filter-option-text: #4E5D78;
  --theme-bridge-filter-option-hover: rgba(98, 2, 239, 0.06);
  --theme-bridge-token-in-selected-border: rgba(98, 2, 239, 0.4);
  --theme-bridge-token-select-hover-bg: #F9FAFA;
  --theme-bridge-token-select-hover-border: rgba(98, 2, 239, 0.4);
  --theme-bridge-chain-select-hover-border: rgba(0, 0, 0, 0.2);
  --theme-bridge-chain-select-click-bg: #F9FAFA;
  --theme-bridge-chain-select-click-border: rgba(98, 2, 239, 0.4);
  --theme-bridge-trans-default-progress: #8792a2;
  --theme-bridge-trans-content-label: #3c4257;
  --theme-bridge-trans-content-desc: #3c4257;
  --theme-bridge-trans-load-border: #E7E1F1;
  --theme-bridge-trans-info-border: #f4f4f4;
  --theme-bridge-trans-detail-btn: rgba(98, 2, 239, 0.05);
}
:root.dark {
  --theme-primary-1: #ffffff;
  --theme-primary-2: #8a94a6;
  --theme-secondary-1: #e3d1ff;
  --theme-primary-gradient-1: #7028e4;
  --theme-primary-gradient-2: #e5b2ca;
  --theme-secondary-gradient-1: #3a537b;
  --theme-secondary-gradient-2: #8f9aac;
  // --theme-secondary-gradient: linear-gradient(
  //   96.01deg,
  //   var(--theme-secondary-gradient-1) -47.72%,
  //   var(--theme-secondary-gradient-2) 142.35%
  // );
  --theme-secondary-gradient: #343052;
  --theme-card-bg: #201c41;
  --theme-input-bg: #343052;
  --theme-text-1: #ffffff;
  --theme-text-inactive: #b0b7c3; // TODO find
  --theme-text-2: #ffffff;
  --theme-text-3: #ceaefe;
  --theme-text-4: #b0b7c3; // TODO find
  --theme-text-5: #4e5d78;
  --theme-bg-1: #0d0831;
  --theme-bg-2: #343052;
  --theme-bg-3: #fafbfc; // TODO find
  --theme-bg-4: #343052;
  --theme-border: #4e576c;
  --theme-border-global: rgba(78, 87, 108, 0.4);
  --theme-border-light: #6a7695;
  --theme-default-btn: #ffffff;
  --theme-plenty-badge-bg: rgba(208, 189, 230, 0.2);
  --theme-plenty-badge-text: #ceaefe;
  --theme-quipuswap-badge-bg: rgba(249, 165, 88, 0.14);
  --theme-quipuswap-badge-text: #f9a558;
  --theme-table-header-hover-bg: #343052;
  --theme-button-bg: #fafbfc;
  --theme-hover-bg: #59617a;
  --theme-radio-button: #ffffff;
  --theme-governance-bg: linear-gradient(180deg, var(--theme-bg-1) 22%, #393456 20.85%);

  --theme-governance-bg-1: linear-gradient(180deg, var(--theme-bg-1) 20%, #393456 18.85%);
  --theme-governance-bg-2: linear-gradient(180deg, var(--theme-bg-1) 18%, #393456 17.85%);
  --theme-governance-text: #edecef;
  --theme-governance-cardBg: #201c41;
  --theme-governance-postingInfo: rgba(255, 255, 255, 0.06);
  --theme-governance-line: rgba(241, 241, 241, 0.1);
  --theme-governance-mobileBg: linear-gradient(90.61deg, #393456 35.85%, #82858a 135.76%);
  --theme-governance-mobileHeaderBg: linear-gradient(90.61deg, #04152e 35.85%, #82858a 135.76%);
  --theme-governance-headerBg: #333e5b;
  --theme-governance-infoText: rgba(237, 236, 239, 0.7);
  --theme-governance-infoBg: rgba(244, 244, 244, 0.1);
  --theme-governance-votingBorder: linear-gradient(
    100.44deg,
    #f8b67f 0%,
    #ff5451 33.57%,
    #ee1ec0 67.02%,
    #a02cfc 103.97%
  );
  --theme-governance-buttonBorder: #c8a4fe;
  --theme-governance-infoIcon: rgba(237, 236, 239, 0.1);
  --theme-governance-totalVotesText: #8a94a6;
  --theme-governance-infoIconColor: #ffffff;
  --theme-governance-clockIconColor: #ffffff;
  --theme-governance-openBg: rgba(1, 209, 255, 0.2);
  --theme-governance-openText: #01d1ff;
  --theme-governance-acceptBg: rgba(22, 235, 147, 0.3);
  --theme-governance-acceptText: #2fffa9;
  --theme-governance-rejectBg: rgba(214, 101, 101, 0.3);
  --theme-governance-rejectText: #ff5353;
  --theme-governance-votingBoxBg: rgb(230, 214, 254, 0.18);
  --theme-governance-selectedText: #ffffff;
  --theme-governance-label: rgba(255, 255, 255, 0.6);
  --theme-header-heading: #ffffff;
  --theme-header-description: #edecef;
  --theme-header-bottom: #393456;
  --theme-header-text: #ffffff;
  --theme-header-selectedBg: #0d0831;
  --theme-bg-header: #201c41;
  --theme-header-seperator: #f4f4f4;
  --theme-expand-button-bg: #343052;
  --theme-primary-button-text: #0d0831;
  --theme-primary-button-bg: #ceaefe;
  --theme-menu-highlighter: #524666;
  --theme-menu-text: #dec9fe;
  --theme-disabled-button-bg: #8974a9;
  --theme-disabled-button-text: #353153;
  --theme-modal-boxshadow: 0px 2px 82px 1px rgba(22, 19, 37, 0.65);
  --theme-thead-text: #edecef;
  --theme-toggler: #6202ef;
  --theme-toggler-bg: #343052;
  --theme-disabled-button: #564f80;
  --theme-disable-button-text: #0e0931;
  --theme-swap-border: rgba(81, 75, 107, 0.6);
  --theme-swap-text: #ffffff;
  --theme-swap-info-text: #f3f4fb;
  --theme-gradient-border: #393456;
  --theme-swap-boxshadow: 0px 2px 49px rgba(34, 6, 73, 0.39);
  --theme-error-bg: rgba(255, 90, 67, 0.05);
  --theme-banner-bg: rgba(206, 174, 254, 0.07);
  --theme-banner-bg-hover: rgba(206, 174, 254, 0.18);
  --theme-banner-text: #ffffff;
  --theme-confirm-transaction: #b0b7c3;
  --theme-confirm-transaction-button-text: #f9fafa;
  --theme-loader-border: #1c1357;
  --theme-loader-border-top: rgba(254, 253, 255, 0.6);
  --theme-flash-bg: rgba(18, 11, 67, 1);
  --theme-flash-border: #4e5d78;
  --theme-floater-text: #ffffff;
  --theme-nav-link-border: rgba(255, 255, 255, 0.15);
  --theme-input-bg-global: #211c49;
  --theme-balance-border: rgba(176, 183, 195, 0.5);
  --theme-balance-text-color: rgba(176, 183, 195, 0.5);
  --theme-lq-details-bg: #221f43;
  --theme-lq-details-individual-bg: #2d2a51;
  --theme-lq-details-content: rgba(138, 148, 166, 0.6);
  --theme-info-icon: #ccd2e3;
  --theme-lp-pair-bg: rgba(206, 174, 254, 0.05);
  --theme-lp-pair-text: #f9fafa;
  --theme-share-pool-bg: rgba(206, 174, 254, 0.2);
  --theme-confirm-supply-text: #b0b7c3;
  --theme-remove-lq: #2d2856;
  --theme-your-position: #211c49;
  --theme-details-border-left: rgba(206, 174, 254, 0.15);
  --theme-lp-token: #b0b7c3;
  --theme-modal-text: #b0b7c3;
  --theme-tooltip-bg: #ffffff;
  --theme-tooltip-text: #0d0831;
  --theme-confirm-transaction-border: rgba(138, 149, 158, 0.4);


  // Bridge module related.
  --theme-bridge-header-text: #ffffff;
  --theme-bridge-desc-text: #CFCED6;
  --theme-bridge-line-bottom: rgba(224, 223, 228, 0.4);
  --theme-bridge-token-sel-bg: linear-gradient(180deg, #201C41 60%, rgba(206, 174, 254, 0.05) 0%);
  --theme-bridge-token-sel-lb: rgba(255, 255, 255, 0.15);
  --theme-bridge-history-btn-bg: rgba(255, 157, 157, 0.1);
  --theme-bridge-history-btn-text: #F9F9FA;
  --theme-bridge-from-border: 1px solid rgba(138, 149, 158, 0.05);
  --theme-bridge-from-bg: #2a2649;
  --theme-bridge-from-text: #d8d8d8;
  --theme-bridge-from-ip-bg: rgba(138, 149, 158, 0.05);
  --theme-bridge-to-ip-bg: rgba(206, 174, 254, 0.05);
  --theme-bridge-ip-border: rgba(98, 104, 143, 0.4);
  --theme-bridge-chain-sel-text: #f9fafa;
  --theme-bridge-chain-sel-subtext: #b0b7c3;
  --theme-bridge-selector-bg: #342f56;
  --theme-bridge-selector-border: #2c2f63;
  --theme-bridge-selector-box-shadow: rgba(3, 18, 30, 0.18);
  --theme-bridge-chain-from-lb: rgba(255, 255, 255, 0.15);
  --theme-bridge-input-bg: rgba(138, 149, 158, 0.05);
  --theme-bridge-max-btn-bg: #252246;
  --theme-bridge-max-btn-border-text: #CEAEFE;
  --theme-bridge-input-text: #ffffff;
  --theme-bridge-balance-text: rgba(176, 183, 195, 0.5);
  --theme-bridge-to-bg: rgba(206, 174, 254, 0.1);
  --theme-bridge-to-ip-border: rgba(206, 174, 254, 0.2);
  --theme-bridge-to-chain: rgba(206, 174, 254, 0.06);
  --theme-bridge-vertical-line: rgba(138, 149, 158, 0.09);
  --theme-bridge-to-token-bg: #261a52;
  --theme-bridge-fee-text: rgba(176, 183, 195, 0.5);
  --theme-bridge-history-border: #393456;
  --theme-bridge-history-lb: rgba(176, 183, 195, 0.2);
  --theme-bridge-history-token-bg: #342F56;
  --theme-bridge-history-token-text: #ffffff;
  --theme-bridge-history-dt-text: #B0B7C3;
  --theme-bridge-filter-border: #393456;
  --theme-bridge-filter-box-shadow: #0F021D;
  --theme-bridge-filter-lb: #393456;
  --theme-bridge-filter-option-text: #B0B7C3;
  --theme-bridge-filter-option-hover: rgba(206, 174, 254, 0.1);
  --theme-bridge-token-in-selected-border: rgba(206, 174, 254, 0.8);
  --theme-bridge-token-select-hover-bg: #28234D;
  --theme-bridge-token-select-hover-border: #62688F;
  --theme-bridge-chain-select-hover-border: #62688F;
  --theme-bridge-chain-select-click-bg: #2D2852;
  --theme-bridge-chain-select-click-border: rgba(3, 18, 30, 0.04);
  --theme-bridge-trans-default-progress: #49446C;
  --theme-bridge-trans-content-label: #ffffff;
  --theme-bridge-trans-content-desc: #b0b7c3;
  --theme-bridge-trans-load-border: #9E7FCC;
  --theme-bridge-trans-info-border: rgba(244, 244, 244, 0.15);
  --theme-bridge-trans-detail-btn: #342F56;
}

:root.theme-transiton {
  transition: 1000ms !important;
  transition-delay: 0s !important;
}
