.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;
}

//
//.navbar-toggler-icon {
//  background-image: url('src/assets/images/header/more_vert.svg');
//}

.dropdown-toggle:after {
  content: none;
}

.dropdown-menu {
  left: auto;
  right: 0;
  border-radius: 10px;
}

.icon-frontpage {
  fill: #ffffff;
}

.icon {
  fill: #5603ad;
}

.header-col-center-frontpage {
  margin: 0 auto;
}

.header-col-center {
  margin: 0 auto;
}

.logo-section {
  width: 90px;
}

.nav-menu-wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  &:last-child {
    justify-content: flex-end;
  }
}

.theme-icon {
  cursor: pointer;
}

.icon-white {
  color: #ffffff !important;
}

.menu-item {
  > span {
    color: var(--theme-text-3);
  }

  &:hover {
    > span {
      color: var(--theme-text-4);
    }
  }
}

.menu-item-active {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background: linear-gradient(
      90deg,
      var(--theme-primary-gradient-1) 0%,
      var(--theme-primary-gradient-2) 100%
    );
    border-radius: 100%;
    left: -15px;
    right: 0;
    @media (min-width: 992px) {
      bottom: 0;
      top: auto;
      left: 0;
      margin: auto;
    }
  }

  > span {
    //color: #2d323d;
    color: var(--theme-text-1);
  }
}

.menu-active {
  position: relative;

  > .nav-menu-item-link {
    > p {
      color: #2d323d;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #7d00ff;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.nav-menu-item-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;

  > p {
    &:hover {
      text-decoration: none;
      color: #2d323d !important;
    }
  }

  &:hover {
    text-decoration: none;
    color: #2d323d !important;
  }

  > span {
    vertical-align: middle;
  }
}

.frontpage-light-wallet-btn {
  background: rgba(86, 3, 173, 0.17);
}

.light-theme-text {
  color: #5603ad;
}

.connect-wallet-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 29px;
  //box-shadow: 0 0 30px rgba(138, 149, 158, 0.09);
  border: 0;
  border-radius: 8px;

  > span {
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    font-weight: bold;
  }
}

.connect-to-wallet {
}

.disconnect-wallet-btn {
  @extend .connect-wallet-btn;
  //background: #ffffff;
  //width: 152px;
}

.header-click {
  &:active {
    transform: scale(0.95);
    transform-origin: 50% 50%;
  }
}

.menu-dropdown {
  left: -100px;
  top: 60px;
  background-color: #ffffff;
  border-radius: 15px;
  border: 0;

  > a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    color: #4e5d78;
  }
}

.node-selector-text {
  margin-top: -10px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 13px;
  color: var(--theme-text-1);
}

.node-selector-modal {
  max-width: 350px;
  max-height: 328px;
  border-radius: 11.0217px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.node-selector-radio-container {
  margin-top: 10px;
  background: var(--theme-secondary-gradient);
  border-radius: 7.34783px;
  display: flex;
  flex-direction: column;
  max-height: fit-content;
}

.node-selector-option-text {
  color: var(--theme-text-1);
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
}

.node-selector-radio-container ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
  overflow: auto;
  max-height: fit-content;
}

.node-selector-list {
  ul {
    li {
      color: var(--theme-text-1);
      display: block;
      position: relative;
      float: left;
      width: 100%;
      font-weight: 500;
      font-size: 12px;
      line-height: 23px;

      input[type='radio'] {
        position: absolute;
        visibility: hidden;

        &:checked ~ .check {
          border: 0px solid
            linear-gradient(
              94.97deg,
              var(--theme-primary-gradient-1) 4%,
              var(--theme-primary-gradient-2) 142.86%
            );
        }

        &:checked ~ .check::before {
          background: linear-gradient(
            94.97deg,
            var(--theme-primary-gradient-1) 4%,
            var(--theme-primary-gradient-2) 142.86%
          );
        }

        &:checked ~ label {
          color: linear-gradient(
            94.97deg,
            var(--theme-primary-gradient-1) 4%,
            var(--theme-primary-gradient-2) 142.86%
          );
        }
      }

      label {
        font-family: DM Sans;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        line-height: 23px;
        display: block;
        position: relative;
        font-weight: 300;
        font-size: 1.35em;
        padding: 5px 25px 5px 80px;
        margin: 5px auto;
        z-index: 9;
        cursor: pointer;
        -webkit-transition: all 0.25s linear;
      }

      .check {
        display: block;
        position: absolute;
        border: 0;
        border-radius: 100%;
        height: 25px;
        width: 25px;
        top: 4px;
        left: 20px;
        z-index: 5;
        transition: border 0.25s linear;
        -webkit-transition: border 0.25s linear;

        &::before {
          display: block;
          position: absolute;
          content: '';
          border-radius: 100%;
          height: 15px;
          width: 15px;
          top: 5px;
          left: 5px;
          margin: auto;
          transition: background 0.25s linear;
          -webkit-transition: background 0.25s linear;
          background: #c1c7d0;
        }
      }

      &:hover .check {
        border: 0px solid var(--theme-bg-4);
      }
    }
  }
}

.node-selector-modal-input {
  display: block;
  position: relative;
  font-weight: 300;
  width: 165px;
  margin: 8px 0px 0px 80px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  background: var(--theme-input-bg);
  mix-blend-mode: normal;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 11.0217px;
  outline: none;
  padding: 5px;
  color: var(--theme-text-1);
}
