.menu-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;
  padding-bottom: 18px;

}

//
//.navbar-toggler-icon {
//  background-image: url('src/assets/images/header/more_vert.svg');
//}

.dropdown-toggle:after {
  content: none
}

.dropdown-menu {
  left: auto;
  right: 0;
  border-radius: 10px;
}

.icon-frontpage {
  fill: #FFFFFF;
}

.icon {
  fill: #5603AD;
}

.header-col-center-frontpage {
  margin: 0 auto;
}

.header-col-center {
  margin: 0 auto;
}

.logo-section {
  width: 90px;
}

.nav-menu-wrapper {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  &:last-child {
    justify-content: flex-end;
  }
}

.theme-icon {
  cursor: pointer;
}

.icon-white {
  color: #FFFFFF !important;
}

.menu-item-active {
  position: relative;

  > span {
    color: #2d323d;
  }

  &:after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #7d00ff;
    border-radius: 100%;
    left: -15px;
    right: 0;
    @media (min-width: 992px) {
      bottom: 0;
      top: auto;
      left: 0;
      margin: auto;
    }

  }
}

.menu-active {
  position: relative;

  > .nav-menu-item-link {
    > p {
      color: #2d323d;
    }
  }

  &::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #7d00ff;
    border-radius: 100%;
    left: 0;
    right: 0;
    margin: auto;
  }
}

.nav-menu-item-link {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  text-transform: capitalize;

  > p {
    &:hover {
      text-decoration: none;
      color: #2d323d !important;
    }
  }

  &:hover {
    text-decoration: none;
    color: #2d323d !important;
  }

  > span {
    vertical-align: middle;
  }
}

.frontpage-light-wallet-btn {
  background-color: rgba(86, 3, 173, 0.17);
}

.light-theme-text {
  color: #5603ad;
}

.connect-wallet-btn {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 29px;
  //box-shadow: 0 0 30px rgba(138, 149, 158, 0.09);
  border: 0;
  border-radius: 15px;

  > span {
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    font-weight: bold;
  }
}

.connect-to-wallet {

}

.disconnect-wallet-btn {
  @extend .connect-wallet-btn;
  //background: #ffffff;
  //width: 152px;
}

.menu-dropdown {
  left: -100px;
  top: 60px;
  background-color: #ffffff;
  box-shadow: 0px 23px 44px rgba(176, 183, 195, 0.14);
  border-radius: 15px;
  border: 0;

  > a {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 29px;
    color: #4e5d78;
  }
}
