.infoTable {
  display: table;
  background: var(--theme-secondary-gradient);
  border-radius: 8px;
  padding: 10px 12px;
  color: var(--theme-text-1);
  border-collapse: separate;
  border-spacing: 10px;

  & > div {
    display: table-row;

    & > div {
      display: table-cell;
    }
  }
}

.caption {
  font-size: 12px;
}
