.border {
  background: var(--theme-governance-votingBorder);
  padding: 1px;
  margin-top: 100px;
  border-radius: 8px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background: none;
    margin: 20px auto;
    padding: 0px;
    border-radius: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.gov {
  padding: 0px 0px;
  margin-right: 0px;
  top: 100px;
  position: sticky;
}

.bridgeModal {
  box-shadow: 0px 2px 32px -5px rgba(100, 96, 105, 0.15);
  background: linear-gradient(180deg, #ffffff 57%, rgba(98, 2, 239, 0.05) 50%);
  border-radius: 8px;
  padding: 24px 24px;
  margin: auto;
  overflow-y: auto;
  width: 338px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 440px;
    border-radius: 0px;
    box-shadow: none;
    padding: 20px 20px;
    margin: 0 auto;
  }
  .resultsHeader {
    display: flex;
    justify-content: space-between;
    .res {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 13px;

      height: 30px;
      padding: 7.83448px 16.6483px;
      background: rgba(98, 2, 239, 0.1);
      border-radius: 3.5979px;
      color: #6202ef;
    }
  }
  .heading {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    color: #292a2e;
    margin-top: 7px;
  }
}

.from {
  height: 25px;
  background: #f4f4f4;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #4e5d78;
  padding: 5px 15px;
  width: 60px;
}
.to {
  height: 25px;
  background: rgba(98, 2, 239, 0.05);
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #6202ef;
  padding: 5px 10px;
  width: 38px;
}
.toDiv {
  background: rgba(98, 2, 239, 0.05);
}
.selectBox {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--theme-input-bg);
  mix-blend-mode: normal;
  padding: 12px;
  border: 1px solid var(--theme-border);
  box-sizing: border-box;
  border-radius: 8px;

  &:hover {
    border: 1px solid var(--theme-border-light);
  }
}
.inputSelectBox {
  background: #ffffff;
}

.lineBottom {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
  width: 100%;
}
.arrowSwap {
  width: 36px;
  height: 36px;
  background: #6202ef;
  border-radius: 3.10345px;
  margin-left: 242px;
  .arrow {
    margin-left: 5px;
    margin-top: 9px;
  }
}
.tokenSelector {
  background: #f4f4f4;
  box-shadow: 0px 10px 30px rgba(138, 149, 158, 0.09);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--theme-text-1);
  border-radius: 3px;
  padding: 8px 7px;
  cursor: pointer;
  border: 0;
  &.not-selected {
    padding: 10px 6px;
    background-color: #ffffff;
    color: var(--theme-primary-gradient-1);
    //
    //&:hover {
    //  opacity: 85%;
    //}
  }
  > span {
    font-size: 16px;
    vertical-align: middle;
  }
}
.tokenUserInput {
  width: 100%;
  text-align: left;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: var(--theme-text-1);
  border: 0;
  background-color: transparent;
  outline: none;
  &::placeholder {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #b0b7c3;
  }
}
.toLabel {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  color: #4e5d78;
  margin-bottom: 0px;
}
