.border {
  background: var(--theme-governance-votingBorder);
  padding: 1px;
  margin-top: 60px;
  border-radius: 8px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background: none;
    margin: 20px auto;
    padding: 0px;
    border-radius: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.gov {
  padding: 0px 0px;
  margin-right: 0px;
  top: 100px;
  position: sticky;
}

.bridgeModal {
  box-shadow: 0px 2px 32px -5px rgba(100, 96, 105, 0.15);
  background: linear-gradient(180deg, #ffffff 60%, rgba(98, 2, 239, 0.05) 50%);
  border:1px solid var(--theme-bridge-votingBorder);
  border-radius: 8px;
  padding: 24px 24px;
  margin: auto;
  overflow-y: auto;
  width: 520px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    //max-width: 440px;
    border-radius: 0px;
    box-shadow: none;
    padding: 20px 20px;
    margin: 0 auto;
    width: auto;
  }
  .resultsHeader {
    display: flex;
    justify-content: space-between;
    .res {
      font-style: normal;
      font-weight: 500;
      font-size: 10px;
      line-height: 13px;

      height: 30px;
      padding: 7.83448px 16.6483px;
      background: rgba(98, 2, 239, 0.1);
      border-radius: 3.5979px;
      color: #6202ef;
    }
  }
  .heading {
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0px;
    color: #292a2e;
    margin-top: 7px;
  }
}

.from {
  background: #F4F4F4;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 54px;
  color: #4E5D78;
}
.to {
  height: 27px;
  width: 36px;
  background: #EBDDFF;
  border: 0.8px solid #D4B8FA;
  box-sizing: border-box;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #6202EF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.toDiv {
  background: rgba(98, 2, 239, 0.05);
}
.tokenSelectBox {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--theme-input-bg);
  mix-blend-mode: normal;
  padding: 12px;
  border: 0.803667px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  border-radius: 16px;

  &:hover {
    border: 1px solid var(--theme-border-light);
  }
}
.inputSelectBox {
  background: #ffffff;
}

.lineBottom {
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.08);
  width: 100%;
}
.arrowSwap {
  width: 54px;
  height: 54px;
  background: #6202ef;
  border-radius: 3.10345px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  .arrow {
    margin-left: 5px;
    margin-top: 9px;
  }
  &:hover {
    transform: rotate(180deg);
  }
}
.tokenSelector {
  background: #f4f4f4;
  box-shadow: 0px 10px 30px rgba(138, 149, 158, 0.09);
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: var(--theme-text-1);
  border-radius: 3px;
  padding: 8px 7px;
  cursor: pointer;
  border: 0;
  &.not-selected {
    padding: 10px 6px;
    background-color: #ffffff;
    color: var(--theme-primary-gradient-1);
    //
    //&:hover {
    //  opacity: 85%;
    //}
  }
  > span {
    font-size: 16px;
    vertical-align: middle;
  }
}
.tokenUserInput {
  width: 100%;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #201C41;
  border: 0;
  background-color: transparent;
  outline: none;
  &::placeholder {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color: rgba(176, 183, 195, 0.5);
  }
}
.toLabel {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  color: #4e5d78;
  margin-bottom: 0px;
}

.lineMid {
  border-bottom: 0.86px dashed #b0b7c3;
  width: 100%;
}

.midLabel {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4E5D78;
  margin-bottom: 8px;
}

.fromBridgeSelectBox {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color: var(--theme-bridge-from-ip-bg);
  mix-blend-mode: normal;
  padding: 12px;
  box-sizing: border-box;
  border-radius: 8px;
}

.fromLabelTop {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4E5D78;
}

.fromLabelBottom {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #8792A2;
}

.selector {
  background: #FFFFFF;
  mix-blend-mode: normal;
  border: 0.803667px solid rgba(0, 0, 0, 0.08);
  box-sizing: border-box;
  box-shadow: 0px 4px 9px rgba(39, 59, 74, 0.06);
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 18px;
  color: var(--theme-text-1);
  padding: 8px 7px;
  cursor: pointer;
}

.bridgeSelector, .toTokenSelector {
  &.not-selected {
    padding: 10px 6px;
    background-color: #ffffff;
    color: var(--theme-primary-gradient-1);
    //
    //&:hover {
    //  opacity: 85%;
    //}
  }
  > span {
    font-size: 14px;
    vertical-align: middle;
  }
}

.selectMaxBtn {
  background: #F9FAFA;
  mix-blend-mode: normal;
  border: 0.863044px solid #6202EF;
  box-sizing: border-box;
  border-radius: 8px;
  width: 36px;
  height: 20px;
  font-weight: 500;
  font-size: 10px;
  line-height: 13px;
  color: #6202EF;
  cursor: pointer;
}

.errorText {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #FF5A43;
  margin: 10px 0 0;
}

.inputWrapper {
  flex: 0 0 45%;
  color: var(--theme-text-1);
}

.toBridgeSelector {
  background: #FAF7FF;
  mix-blend-mode: normal;
  border: 0.4px solid #6202EF;
  box-sizing: border-box;
  border-radius: 8px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: var(--theme-text-1);
  padding: 11px 7px;
}

.toBridgeWrapper {
  display: flex;
  flex: 1 1 0;
}

.lineHorizontal {
  border: 1px solid #D9CCEB;
}

.toTokenLabel {
  min-width: 30px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  border: 1px solid #6202EF;
  box-sizing: border-box;
  border-radius: 19px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  color: #6202EF;
  padding: 2px 8px;
}

.toBridgeSelectBox {
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-color:  rgba(98, 2, 239, 0.05);
  mix-blend-mode: normal;
  padding: 12px;
  border: 1px solid rgba(98, 2, 239, 0.2);
  box-sizing: border-box;
  border-radius: 16px;

  &:hover {
    border: 1px solid var(--theme-border-light);
  }
}

.toTokenOutput {
  width: 100%;
  text-align: left;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  color: #6202EF;;
  border: 0;
  background-color: transparent;
  outline: none;
  &::placeholder {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 31px;
    color:#6202EF;;
  }
}

.feeEstimateText {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #4E5D78;
  margin: 10px 0 0;
}

#switchTooltip {
  background-color: #282828;
  color: white;
  border-radius: 8px;
  margin-left: 1rem;
  .tooltip-inner {
    background-color: #282828 !important;
  }
  &::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #282828 transparent transparent;
  }
}