.bridge-done_screen{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .purple{
        border: 1px solid #B080F7 !important;
        background: #FDFBFF;
    }
    .borderless{
        margin-top: -13px;
        padding-top: 10px;
        padding-bottom: 8px;
        background: var(--theme-bridge-trans-detail-btn);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
        &:hover{
            background-color: var(--theme-bridge-trans-explorer-hover-bg);
        }
        
    }
    .twitter-btn {
        padding-top: 8px;
        padding-bottom: 8px;
        background: rgba(28, 155, 239, 0.05);;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border-radius: 4px;
        cursor: pointer;
    }
    .border-tile{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-direction: row;
     mix-blend-mode: normal;
     border: 1px solid var(--theme-bridge-trans-info-border);
     border-radius: 4px;
     box-sizing: border-box;
     padding: 9px 16px;
     height: 62px;
     .left-div{
     p{
         font-size: 10px;
         margin-bottom: 7px;
     }
     .value-text {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        color: var(--theme-bridge-header-text);
     }
     .containerwithicon{
         display: flex;
         justify-content: center;
         align-items: center;
         gap: 10px;
         .right-div{
             flex: 1;
             display: flex;
             flex-direction: column;
             .fromreceived{
                font-family: DM Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                color: var(--theme-bridge-chain-sel-subtext);
             }
             .value-text {
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 21px;
                color: var(--theme-bridge-header-text);
             }
             .success-text {
                color: var(--theme-bridge-filter-option-text);
             }
         }
        img{
            width: 28.3px;
            height: 28.3px;
        }
     }
    }
     .loading-div{
       width: 45px;
     }
    }
    .shaded{
        box-shadow: 0px 4px 9px 9px var(--theme-bridge-trans-shaded-shadow);
        border-radius: 8px;
        background: var(--theme-bridge-selector-bg);
        border: 0.803667px solid var(--theme-bridge-selector-border);
        margin-bottom: 10px;
        height: 70px;
    }
    .success{
        border-radius: 8px;
        background: rgba(22, 161, 53, 0.02);
        border: 1px solid #16A135;
        margin-bottom: 10px;
        height: 74px;
        box-shadow: 0px 8px 14px var(--theme-bridge-trans-success-shadow);
    }
}
.leftToRightFadeInAnimation {
    -webkit-animation: fadein 0.2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 0.2s; /* Firefox < 16 */
        -ms-animation: fadein 0.2s; /* Internet Explorer */
         -o-animation: fadein 0.2s; /* Opera < 12.1 */
            animation: fadein 0.2s;
  }
  
  @keyframes fadein {
    from { opacity: 0.6;transform: translateX(-10px);}
    to   { opacity: 1;transform: translateX(0px); }
  }
  
  /* Firefox < 16 */
  @-moz-keyframes fadein {
    from { opacity: 0.6;transform: translateX(-10px);}
    to   { opacity: 1;transform: translateX(0px); }
  }

  .lds-ring div{
    border-color: var(--theme-bridge-trans-load-border) var(--theme-bridge-max-btn-border-text) var(--theme-bridge-max-btn-border-text) var(--theme-bridge-max-btn-border-text);
  }