.heading {
  padding-top: 150px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0px;
  color: var(--theme-bridge-header-text);
  @media screen and (min-width: 320px) and (max-width: 767px) {
    padding-top: 20px;
    font-size: 24px;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    padding-top: 40px;
  }
}
.description {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0px;
  color: var(--theme-bridge-desc-text);
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 18px;
    line-height: 26px;
    margin-top: 0px !important;
  }
}

.question {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0px;
  margin-top: 20px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 28px;
  }
}
.answer {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  color: var(--theme-bridge-desc-text);
  @media screen and (min-width: 320px) and (max-width: 767px) {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 8px;
  }
}
.discriptionInfo {
  color: var(--theme-governance-buttonBorder);
  width: 100%;
  display: flex;
  
  a {
    color: var(--theme-governance-buttonBorder);
    font-size: 16px;
    line-height: 24px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 3px 18px;
    background-color: var(--theme-bridge-trans-detail-btn);
    border-radius: 8px;
    @media screen and (min-width: 320px) and (max-width: 767px) {
      font-size: 12px;
    }
    &:hover{
      background-color: var(--theme-bridge-trans-explorer-hover-bg);
    }
  }
}

.lineBottom {
  border-bottom: 0.5px solid var(--theme-bridge-line-bottom);
  width: 100%;
}


.videoIcon {
  height: 20px;
  width: 20px;
}
