.info-modal {
  .modal-dialog {
    display: flex;
    justify-content: center;
    top: 157px;
  }

  .modal-content {
    max-width: 402px;
    padding: 24px 30px;
    border-radius: 15px;
    border: 0;
    background-color: var(--theme-card-bg);
  }

  .modal-header {
    padding: 0;
    padding-bottom: 16px;

    .close {
      vertical-align: middle;
      font-family: 'Material Icons Round';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      color: var(--theme-text-1);
    }

    .modal-title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
    }
  }

  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }

  .modal-footer {
    justify-content: center;
    border-top: 1px solid var(--theme-border);
    padding-bottom: 0;
  }

  .information-text {
    position: relative;
    width: 100%;
    max-height: 250px;
  }

  h6 {
    font-size: 14px;
  }

  .popup-btn {
    width: 100%;
  }
}