.selector-modal {
  .modal-dialog {
    display: flex;
    justify-content: center;
    top: 157px;
  }
  .modal-content {
    max-width: 402px;
    padding: 24px 30px;
    border-radius: 15px;
    border: 0;
    background-color: var(--theme-card-bg);
  }
  .modal-header {
    padding: 0;
    padding-bottom: 16px;
    .close {
      vertical-align: middle;
      font-family: 'Material Icons Round';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      display: inline-block;
      white-space: nowrap;
      word-wrap: normal;
      direction: ltr;
      -webkit-font-feature-settings: 'liga';
      -webkit-font-smoothing: antialiased;
      color: var(--theme-text-1);
    }
    .modal-title {
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 28px;
    }
  }
  .modal-body {
    padding-left: 0;
    padding-right: 0;
  }
  .modal-footer {
    justify-content: center;
    border-top: 1px solid var(--theme-border);
    padding-bottom: 0;
  }
}

.search-icon {
  background: var(--theme-input-bg);
  color: #c4c3c3;
}

.search-box {
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none;

  background: var(--theme-input-bg);
  color: var(--theme-text-1);

  &:focus {
    background: var(--theme-input-bg);
    color: var(--theme-text-1);
    border: 1px solid #ced4da;
  }
  &::placeholder {
    color: #c4c3c3;
    opacity: 1;
  }
}

.coin-selection-table {
  position: relative;
  width: 100%;
  max-height: 300px;
  overflow-y: auto;
  &::-webkit-scrollbar {
    background-color: #7a8699;
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    background-color: #f6f8fc;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 8px;
    border: 5px solid #7a8699;
  }
}

.token-select-btn {
  position: relative;
  width: 100%;
  text-align: left;
  border: 0;
  background-color: transparent;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  padding: 10px;
  &:hover {
    background-color: rgba(103, 128, 159, 0.1);
  }
}
.select-token-img {
  width: 26px;
  margin-right: 18px;
}
.select-token-img-bridge {
  width: 18px;
  margin-right: 8px;
}

.new-badge-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(35, 193, 89, 0.14);
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.4px;
  color: #23c159;
  text-align: center;
  padding: 4px 10px;
}

.deprecated-badge-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--theme-quipuswap-badge-bg);
  border-radius: 6px;
  font-weight: 500;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  letter-spacing: -0.4px;
  color: var(--theme-quipuswap-badge-text);
  text-align: center;
  padding: 4px 10px;
}

.selectionAlignment {
  margin-left: 26px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0px;
  color: var(--theme-header-text);
}
.chain-topic {
  font-size: 12px;
  font-weight: 700;
  line-height: 17px;
  letter-spacing: 0px;
  color: #8a92b2;
}
