.tokens {
  width: calc(100vw - 32px);
  max-width: 1200px;
  background: var(--theme-card-bg);
  border-radius: 10px;
  padding: 36px 0;
  margin: 140px auto 36px;

  .searchBar {
    max-width: 140px;
    height: 40px;
    font-size: 14px;

    & input {
      background: var(--theme-input-bg);
      color: var(--theme-text-1)
    }
   }

  .tradeBtn {
    height: 36px;
    text-decoration: none !important;
  }

  .favoriteIcon {
    cursor: pointer;
    margin: auto 20px auto 44px;

    &:global(.selected) {
      fill: url(#favorite-token-fill);
    }
  }
}

.redText {
  color: #FF7A68;
}

.greenText {
  color: #4FBF67;
}

.iconInside {
  position: absolute;
  left: 20px;
  top: calc(50% - 14px);
  pointer-events: none;
  color: #c4c3c3;
  z-index:3;
}

.placeholder {
  &::placeholder {
    color: #c4c3c3;
    opacity: 1;
  }
}
