.pageLayoutContainer {
  margin-top: 80px;
  padding: 0 180px 40px;
}

.cardsContainer {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 345px);
  grid-gap: 20px;
  justify-content: center;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding-top: 25px;
  }
}

.plentyCard {
  padding: 18px 6px;
  border: 0;
  border-radius: 15px;
  background: var(--theme-card-bg);
}

.plentyCardHeader {
  border-bottom: 1px solid var(--theme-border);

  .imageWrapper {
    width: 76px;
  }

  .imageWrapperSingle {
    height: 45px;
    width: 45px;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: var(--theme-text-1);
    margin: 0;
  }

  .titleBadge {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
    text-decoration: none;
    &.badgeOther {
      background-color: var(--theme-quipuswap-badge-bg);
      color: var(--theme-quipuswap-badge-text);
    }
    &.badgePlenty {
      background-color: var(--theme-plenty-badge-bg);
      color: var(--theme-plenty-badge-text);
    }
    &:hover {
      text-decoration: none;
    }
    &:active {
      transform: scale(0.95);
      transform-origin: 50% 50%;
    }
  }
}

.plentyCardContent {
  padding: 20px 26px;

  &.topBorder {
    border-top: 1px solid var(--theme-border);
  }

  &.bottomBorder {
    border-bottom: 1px solid var(--theme-border);
  }

  .rightBorder {
    border-right: 1px solid var(--theme-border);
  }
}

.roiInfoImg {
  margin: -4px 0 0;
  width: 16px;
  height: 12px;
  cursor: pointer;
  transition: transform 100ms ease-in;

  &:hover {
    transform: scale(1.1);
  }

  &:active {
    transform: scale(0.9);
  }
}

.plentyCardContentInfo {
  &:last-child {
    .plentyCardContentTag {
      margin: 0;
    }
  }
}
.plentyCardContentTag {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--theme-text-1);
  margin-bottom: 18px;
}

.plentyCardTvlInfoWrapper {
  padding: 12px 26px;
  border-bottom: 1px solid var(--theme-border);
}
.plentyCardTvlInfo {
  background: var(--theme-secondary-gradient);
  padding: 22px 16px;
  border-radius: 6px;
  .plentyCardContentTag {
    margin: 0;
  }
}
.plentyCardWalletBtnWrapper {
  padding: 20px 26px 0;
  .swap-content-btn {
    margin: 0;
  }
}

.harvestStakeAmt {
  width: 100%;
  display: flex;
  color: var(--theme-text-1);
  background: var(--theme-expand-button-bg);
  border-radius: 6px;

  &.empty {
    color: var(--theme-text-4);
  }

  & > span {
    margin: auto 12px;
  }
}

.formControl {
  border: none;
  outline: none;
  background: transparent;
  color: var(--theme-primary-1);
  font-weight: 500;
  padding-left: 10px;
  background: var(--theme-bg-1);

  & > option {
    width: 40px;
  }
}

.selectForm {
  float: right;
  margin-top: -40px;
  max-width: 1200px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: none;
  }
}
.selectForm1 {
  display: none;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    float: left;
    display: inline;
    background: var(--theme-bg-1);
    height: 40px;
    padding: 5px 15px;
    margin-top: 20px;
  }
}

.header {
  max-width: 1200px;
  margin: auto;
  margin-top: 80px;
  padding: 0 60px;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    padding: 0 0;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.header2 {
  max-width: 1200px;
  margin: auto;
  padding: 0 60px;
  display: flex;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin: 0 10px;
    display: inline;
  }
}

.leftDiv {
  float: left;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    margin: 0px 10px;

    float: none;
  }
}
.rightDiv {
  float: right;
  position: relative;
  right: 0px;
  height: 38px;
  background: var(--theme-bg-4);
  border-radius: 6px;
  padding: 5px 15px;
  color: var(--theme-text-1);
  @media screen and (min-width: 320px) and (max-width: 768px) {
    float: right;

    margin-top: 20px;
    margin-right: 10px;
  }
}
.stakedSwitch {
  margin-top: 14px;
  margin-right: -11px;
  margin-bottom: 10px;
}
.sortby {
  color: #b0b7c3;
  margin-left: 20px;
}
.farmstab {
  > a {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 23px;
    padding-bottom: 10px !important;
    @media screen and (min-width: 320px) and (max-width: 768px) {
      padding: 0px;
      margin: 0 auto;
    }
    & .active {
      border-bottom: 2px solid var(--theme-primary-1) !important;
    }
  }
}

.dropdown {
  border: 1px solid #c6c2de;
  width: 224px;
  border-radius: 6px;
  position: absolute;
  background-color: var(--theme-card-bg);
  z-index: 99;
  display: block;
  padding: 10px 0px;
  .selectItem {
    padding: 0px 20px;
    width: 80%;
    cursor: pointer;
    font-weight: 400;
    color: var(--theme-text-2);
  }
  .option {
    float: right;
    margin-right: 20px;
    margin-top: 6px;
  }
}
.selectOption input[type='radio']:after {
  width: 16px;
  height: 16px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: var(--theme-card-bg);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1.5px solid var(--theme-radio-button);
}
.selectOption input[type='radio']:checked:after {
  width: 18px;
  height: 18px;
  border-radius: 15px;
  top: -3px;
  left: -1px;
  position: relative;
  background-color: var(--theme-card-bg);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 6px solid var(--theme-primary-1);
}
.selectOption {
  padding: 6px 0;
  label {
    margin-bottom: 0px;
  }
  &:hover {
    background: var(--theme-hover-bg);
  }
}
.hidden {
  display: none;
}
.show {
  display: block;
}
.arrow {
  color: var(--theme-primary-button-bg);
  position: relative;
  top: 6px;
  padding-left: 18px;
}
.rotate {
  transform: rotate(180deg);
  padding-right: 18px;
  padding-left: 0px;
}

.sortLabel {
  border: none;
  outline: none;
  background: transparent;
  color: var(--theme-primary-button-bg);
  font-weight: 500;
}
.sortButton {
  height: 39px;
  border: 0.5px solid var(--theme-primary-1);
  padding: 7px 19px;
  border-radius: 6px;
  font-weight: 400;
  color: var(--theme-primary-1);
  background-color: var(--theme-card-bg);
}
.mobileSort {
  display: none;
  width: 70%;
  margin-left: 14px;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    display: flex;
    padding-top: 20px;
  }

  .addbg {
    background-color: var(--theme-button-bg);
    color: #1d2a3c;
  }
  .removebg {
    background-color: var(--theme-card-bg);
  }
}
