.pageLayoutContainer {
  margin-top: 80px;
  padding: 0 180px;
}
.plentyCard {
  padding: 18px 6px;
  border: 0;
  box-shadow: 0 0 44px 20px rgba(176, 183, 195, 0.19);
  border-radius: 15px;
}

.plentyCardHeader {
  border-bottom: 1px solid #f1f1f1;

  .imageWrapper {
    width: 76px;
  }

  .title {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #4e5d78;
    margin: 0;
  }

  .titleBadge {
    display: inline-block;
    padding: 2px 4px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    margin: 0;

    &.badgeOther {
      background-color: rgba(174, 110, 15, 0.16);
      color: #f9a558;
    }

    &.badgePlenty {
      background-color: rgba(92, 15, 174, 0.16);
      color: #5c0fae;
    }
  }
}

.plentyCardContent {
  padding: 20px 26px;
  // border-bottom: 1px solid #f1f1f1;

  &.topBorder {
    border-top: 1px solid #f1f1f1;
  }

  &.bottomBorder {
    border-bottom: 1px solid #f1f1f1;
  }

  .rightBorder {
    border-right: 1px solid #f1f1f1;
  }

  & > div {

  }
}

.plentyCardContentInfo {
  &:last-child {
    .plentyCardContentTag {
      margin: 0;
    }
  }
}
.plentyCardContentTag {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #4e5d78;
  margin-bottom: 18px;
}

.plentyCardTvlInfoWrapper {
  padding: 12px 26px;
  border-bottom: 1px solid #f1f1f1;
}
.plentyCardTvlInfo {
  background: #f4f4f6;
  padding: 22px 16px;
  border-radius: 6px;
  .plentyCardContentTag {
    margin: 0;
  }
}
.plentyCardWalletBtnWrapper {
  padding: 20px 26px 0;
  .swap-content-btn {
    margin: 0;
  }
}
