.bg-img-light {
    background-image: url('../../images/WrappedAssets/cube-light.png');
    background-position: center top;
    background-repeat: no-repeat;
}

.bg-img-dark {
    background-image: url('../../images/WrappedAssets/cube-dark.png');
    background-position: center top;
    background-repeat: no-repeat;
}