.bg-img-light {
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
}

.bg-img-dark {
  background-position: 0 100%;
  background-repeat: no-repeat;
  background-size: contain;
}
