.border {
  background: var(--theme-governance-votingBorder);
  padding: 1px;
  margin-top: 100px;
  border-radius: 8px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    background: none;
    margin: 20px auto;
    padding: 0px;
    border-radius: 0px;
  }
  @media screen and (min-width: 768px) and (max-width: 992px) {
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
.gov {
  padding: 0px 0px;
  margin-right: 0px;
  top: 100px;
  position: sticky;
}

.govContainerInner {
  max-width: 1400px;
  margin: 0 auto;
}

.voteModal {
  box-shadow: 0px 2px 32px -5px rgba(100, 96, 105, 0.15);
  background: var(--theme-governance-cardBg);
  border-radius: 8px;
  padding: 30px 32px;
  margin: auto;
  overflow-y: auto;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    max-width: 440px;
    border-radius: 0px;
    box-shadow: none;
    padding: 20px 20px;
    margin: 0 auto;
  }
  .resultsHeader {
    display: flex;
    justify-content: space-between;
    .res {
      font-size: 13px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: -0.01em;
      padding-left: 15px;
      padding-right: 15px;
      padding-top: 6px;
      background: var(--theme-governance-openBg);
      border-radius: 1505px;
      color: var(--theme-governance-openText);
    }
    .accepted {
      background: var(--theme-governance-acceptBg);
      color: var(--theme-governance-acceptText);
    }
    .rejected {
      background: var(--theme-governance-rejectBg);
      color: var(--theme-governance-rejectText);
    }
    .abstained {
      background: var(--theme-governance-openBg);
      color: var(--theme-governance-openText);
    }
  }
  .voteHeading {
    font-size: 26px;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;
    height: 34px;
    width: 100%;
  }
  .postedInfo {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 30px;
    border-radius: 8px;
    padding: 4px 20px;
    align-items: center;
    letter-spacing: -0.01em;
    background: var(--theme-governance-postingInfo);
    border: 1px solid #cdcfd5;
    height: 30px;
  }
  .percentage {
    color: var(--theme-primary-1);
    float: right;
  }
  .line {
    border-bottom: 1px solid var(--theme-governance-line);
  }
}
.votingBox {
  margin-top: 20px;
  border: 1px solid var(--theme-text-3);
  box-sizing: border-box;
  border-radius: 8px;
  height: 56px;
  margin-bottom: 20px;
  padding: 15px 20px;
  color: var(--theme-text-3);
  position: relative;
  overflow: hidden;

  input[type='radio']:after {
    width: 20px;
    height: 20px;
    border-radius: 15px;
    top: -3px;
    right: 0px;
    position: relative;
    background-color: var(--theme-governance-cardBg);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1.5px solid var(--theme-text-3);
  }
  input[type='radio']:checked:after {
    width: 22px;
    height: 22px;
    border-radius: 15px;
    top: -5px;
    position: relative;
    background-color: var(--theme-card-bg);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 6px solid var(--theme-primary-1);
  }
  .selectItem {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -0.01em;
    width: 62%;
  }

  .colorChange {
    color: var(--theme-primary-1);
  }
  .initialColor {
    color: var(--theme-text-3);
  }
}
.totalStats {
  text-align: right;
  color: var(--theme-governance-totalVotesText);
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: -0.01em;

  .dot {
    width: 4px;
    height: 4px;
    background: #4e5d78;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 3px;
  }
}
.removeMargin {
  margin-bottom: 0px;
}
.borderChange {
  border: 1px solid var(--theme-primary-1);
}
.submit {
  display: flex;
  justify-content: flex-start;

  .submitButton {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 30px;
    border-radius: 8px;
    padding: 10px 20px 10px 20px;
    align-items: center;
    letter-spacing: -0.01em;
    color: var(--theme-governance-buttonBorder);
    border: 1px solid var(--theme-governance-buttonBorder);
    @media screen and (min-width: 320px) and (max-width: 767px) {
      padding: 10px 10px 10px 10px;
    }
  }
  .buttonColorChange {
    background-color: var(--theme-governance-buttonBorder);
    color: #ffffff;
    border: 1px solid var(--theme-governance-buttonBorder);
  }
}

.poll {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}
.info {
  background: var(--theme-governance-infoBg);
  display: flex;
  justify-content: space-around;
  border-radius: 4px;
  .InfoIconBg {
    align-items: center;
    display: flex;
    border-radius: 4px;
  }
  .infoIcon {
    width: 42px;
    height: 42px;
    padding-top: 8px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 4px;
    background: var(--theme-governance-infoIcon);
  }
  .infoText {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    margin-left: 20px;
    color: var(--theme-governance-infoText);
  }
}
.resultsDates {
  display: flex;
  justify-content: space-between;
  .startEndLabel {
    color: var(--theme-text-5);
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.01em;
  }
  .startEndDate {
    width: 77%;
    background: var(--theme-governance-infoBg);
    color: var(--theme-governance-infoText);
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: -0.01em;
    padding-left: 20px;
  }
}
.textColor {
  color: var(--theme-governance-text);
}
.percentageResults {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: -0.01em;
  float: right;
}
.totalVotes {
  font-size: 14px;
  font-style: normal;

  line-height: 18px;
  letter-spacing: 0em;
  color: var(--theme-governance-text);
}
.votingBoxBg {
  position: absolute;
  background: var(--theme-governance-votingBoxBg);
  height: 56px;
  top: 0px;
  left: 0px;
}
.selectedVotingBoxBg {
  background: var(--theme-governance-votingBoxBg);
}
.defaultVotingBoxBg {
  background: #8a94a6;
  opacity: 0.2;
}
.selectedVotingText {
  color: var(--theme-governance-selectedText);
  font-weight: 700;
}
.defaultVotingText {
  color: var(--theme-governance-label);
  font-weight: 500;
}
.selectedVotingLabel {
  color: var(--theme-governance-selectedText);
  font-weight: 700 !important;
}

.lineBottom {
  border-bottom: 1px solid var(--theme-governance-line);
  width: 100%;
}
.table {
  width: 100%;
}
.specification {
  margin-left: 30px;
}
