.tableContainer {
  overflow-x: auto;
  margin: 24px 0;
}

.table {
  display: table;
  width: 100%;

  .thead {
    display: table-header-group;
    color: var(--theme-thead-text);
    height: 50px;
    background: var(--theme-table-header-hover-bg);

    & > div > div:first-child,
    & > div > div:nth-child(2) {
      background: var(--theme-table-header-hover-bg);
    }
  }

  .tbody {
    display: table-row-group;
    font-weight: bold;
  }

  .th,
  .tr {
    display: table-row;

    @mixin sticky-cell($left) {
      position: sticky;
      left: $left;
      z-index: 1000;
    }

    & > div:first-child {
      @include sticky-cell(-24px);
      width: 20px;
    }

    & > div:nth-child(2) {
      @include sticky-cell(40px);
      max-width: 200px;
    }

    & > div:last-child {
      min-width: 120px;
    }
  }

  .tr {
    height: 72px;
    background: var(--theme-card-bg);

    & > div:nth-child(1),
    & > div:nth-child(2) {
      background: var(--theme-card-bg);
    }

    &:hover > div {
      background: var(--theme-table-header-hover-bg);
    }
  }

  .td {
    display: table-cell;
    vertical-align: middle;
    margin: 0 16px;
    font-size: 14px;
    border-bottom: 1px solid var(--theme-border);
  }
}

.page {
  width: 45px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-weight: bold;

  &.selected {
    background: var(--theme-table-header-hover-bg);
    border-radius: 6px;
  }
}
