.tableContainer {
  overflow-x: auto;
  margin: 24px;
}

.table {
  display: table;
  width: 100%;

  .thead {
    display: table-header-group;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;
    background: var(--theme-table-header-hover-bg);

    & > div > div:first-child {
      background: var(--theme-table-header-hover-bg);
    }
  }

  .tbody {
    display: table-row-group;
  }

  .th, .tr {
    display: table-row;

    & > div:first-child {
      position: sticky;
      left: 0;
      z-index: 1000;
    }
  }

  .tr {
    height: 72px;
    background: var(--theme-card-bg);

    & > div:first-child {
      background: var(--theme-card-bg);
    }

    &:hover > div {
      background: var(--theme-table-header-hover-bg);
    }
  }

  .td {
    display: table-cell;
    vertical-align: middle;
    margin: 0 16px;
    border-bottom: 1px solid var(--theme-border);
  }
}

.page {
  width: 45px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-weight: bold;

  &.selected {
    background: rgba(129, 60, 225, 0.15);
    border-radius: 6px;
  }
}
