.tableContainer {
  max-width: calc(100vw - 32px);
  overflow-x: auto;
}

.table {
  display: table;
  max-width: 1200px;
  min-width: 1200px;

  .thead {
    display: table-header-group;
    text-transform: uppercase;
    font-weight: bold;
    height: 40px;

    & > div > div {
      background: rgba(129, 60, 225, 0.03);
    }
  }

  .tbody {
    display: table-row-group;
  }

  .th, .tr {
    display: table-row;

    & > div:first-child {
      position: sticky;
      left: 0;
      border-top-left-radius: 6px;
      border-bottom-left-radius: 6px;
    }

    & > div:last-child {
      border-top-right-radius: 6px;
      border-bottom-right-radius: 6px;
    }
  }

  .tr {
    height: 72px;

    &:nth-child(even) {
      & > div {
        background: rgba(129, 60, 225, 0.03);
      }
    }
  }

  .td {
    display: table-cell;
    vertical-align: middle;
    margin: 0 16px;
  }
}

.page {
  width: 45px;
  height: 45px;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
  font-weight: bold;

  &.selected {
    background: rgba(129, 60, 225, 0.15);
    border-radius: 6px;
  }
}
