@use "../../../assets/scss/constants" as const;

.btn {
  min-width: 112px;
  height: 50px;
  border-radius: 7.35px;
  display: flex;
  justify-content: center;

  & > span {
    margin: auto 0;
  }

  &:active {
    transform: scale(0.98);
    transform-origin: 50% 50%;
  }
}

.quantityBtn {
  @extend .btn;
  min-width: 50px;
}

.iconBtn {
  height: 24px;
  width: 24px;
  min-width: 24px;
  border-radius: 50%;
  background: #F4F4F6;
  border: 0;
  padding: 0;
}

.primary {
  color: white;
  background: const.$bgGradient;
  border: 0;
  font-weight: bold;
}

.secondary {
  background: const.$primary-color-1-light;
  color: const.$primary-color-1;
  border: 0;
}

.smallBtn {
  height: 26px;
  min-width: inherit;
  border-radius: 6px;
  padding: 0 16px;
  font-size: 14px;

  & :global(.material-icons-round) {
    font-size: 16px;
  }
}

.mute {
  border: 0;
  background: #F5F5F5;
}

.default {
  color: #5c0fae;
  border: solid 1px #5c0fae;
  background: transparent;
}
