@use "../../../assets/scss/constants" as const;

.btn {
  min-width: 113px;
  height: 50px;
  border-radius: 7.35px;
}

.iconBtn {
  height: 24px;
  width: 24px;
  min-width: 24px;
  border-radius: 50%;
  background: #F4F4F6;
  border: 0;
  padding: 0;
}

.primary {
  color: white;
  background: const.$bgGradient;
  border: 0;
  font-weight: bold;
}

.secondary {
  color: #823DE0;
  background-color: #FFFFFF;
  border: 0;
  font-weight: bold;
}

.default {
  color: #5c0fae;
  border: solid 1px #5c0fae;
  background: transparent;
}
