@use '../../assets/scss/constants' as const;

.fullScreen {
  min-height: 75vh;
}
.homePageBanner {
  background-position: left bottom;
  background-size: contain;
  background-repeat: no-repeat;
}
.link {
  text-decoration: none !important;
}

.amount {
  letter-spacing: -0.04em;
}

.tvlValue {
  font-family: DM Sans, serif;
  font-style: normal;
  font-weight: bold;
  //font-size: 6em;
  line-height: 139%;
  letter-spacing: -0.04em;
  color: #ffffff;
}

.tvlText {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 300;
  color: #ffffff;
}

.divider {
  border-bottom: 1px solid #f1f1f1;
}

.textMulish {
  font-family: 'Mulish', sans-serif !important;
}

.about {
  letter-spacing: -1.584px;
}

.aboutSubtext {
  letter-spacing: -0.66px;
}

.button {
  height: 50px;
  min-height: 3em;
  background-color: #ffffff;
  border: 0;
  font-weight: bold;
}

.info {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #ffffff;
}
.centerAlign {
  display: flex;
  justify-content: center;
}
